<div class='wrapper'>
<nav align='right'>
  <a routerLink='/surveys/new'>Create a New Poll</a> |
  <a routerLink='/' (click)='onLogout()'>Logout</a>
</nav>

<h3>Current Polls:</h3>

<section>
  <table>
    <thead>
      <th>Name</th>
      <th>Survey Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </thead>

    <tbody>
      <tr *ngFor='let survey of surveys'>
        <td>{{ survey.user.name }}</td>
        <td><a [routerLink]="['/surveys', survey._id]">{{ survey.question }}</a></td>
        <td>{{ survey.createdAt | date: 'mediumDate'}}</td>
        <td *ngIf='survey.user.name === this.user?.name'>
          <button (click)='removeSurvey(survey)' class='btn btn-danger btn-sm'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
</div>
